COMPOSE_PROJECT_NAME=de3-wordpress-product
WORDPRESS_PORT=8180
PHPMYADMIN_PORT=8181
GRAFANA_PORT=3001
PROMETHEUS_PORT=9091
LOKI_PORT=3101
WP_SITE_TITLE=DE3 Product Showcase
WP_ADMIN_USER=de3_admin
WP_ADMIN_EMAIL=student@example.com

